<!-- Config file for the game -->

<config>
  <app framerate_cap="30">
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="false"/>
  </renderer>

  <window>
    <resolution width="1080" height="672" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>
  <entities>
  <player>
    <speed x="0.F" y="0.F"/>
    <maxSpeed x="350.F" y="50.F"/>
    <acceleration x="1F" y="100.F"/>
    <jump maxJumpSpeed="1100" jumpforce="8"/>
    <threshold value="1.0F"/>
    <offset x="32" y="32"/>
    <animation>
      <rect id="1" x="0" y="96" w="96" h="96" />
      <rect id="1" x="96" y="96" w="96" h="96" />
      <rect id="1" x="192" y="96" w="96" h="96" />
      <rect id="1" x="288" y="96" w="96" h="96" />
      <rect id="1" x="384" y="96" w="96" h="96" />
      <rect id="1" x="480" y="96" w="96" h="96" />
      <rect id="2" x="192" y="0" w="96" h="96" />
      <rect id="3" x="192" y="192" w="96" h="96" />
      <rect id="3" x="288" y="192" w="96" h="96" />
    </animation>
  </player>
    <ground_enemy>
      <speed x="0.F" y="0.F"/>
      <acceleration x="1.F" y="100.F" />
      <range value="600" />
      <animation>
        <rect id="1" x="9" y="6" w="13" h="26" />
        <rect id="1" x="42" y="5" w="14" h="27" />
        <rect id="1" x="74" y="6" w="13" h="26" />
        <rect id="2" x="2" y="108" w="29" h="20" />
        <rect id="2" x="33" y="109" w="29" h="18" />
        <rect id="2" x="66" y="108" w="30" h="20" />
      </animation>
    </ground_enemy>
    <fly_enemy>
      <speed x="0.F" y="0.F"/>
      <acceleration x="1.F" y="100.F" />
      <range value="600" />
      <animation>
        <rect id="1" x="3" y="20" w="25" h="11" />
        <rect id="1" x="35" y="5" w="27" h="22" />
        <rect id="1" x="66" y="6" w="29" h="15" />
        <rect id="1" x="97" y="1" w="31" h="21" />
        <rect id="2" x="6" y="113" w="19" h="15" />
        <rect id="2" x="38" y="97" w="16" h="21" />
        <rect id="2" x="70" y="102" w="17" h="15" />
        <rect id="2" x="102" y="102" w="15" h="21" />
      </animation>
    </fly_enemy>
  </entities>
  
  <map>
    <folder>maps/</folder>
  </map>

</config>