<!-- Config file for the game -->

<config>
  <app>
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1080" height="672" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>
  
  <player>
    <speed x="0" y="0"/>
    <maxSpeed x="5" y="10"/>
    <acceleration x=".3F" y="0.1F"/>
    <jump maxJumpSpeed="10" jumpforce="3"/>
    <threshold value="0.1F"/>
    <offset x="32" y="32"/>
    <animation>
      <rect id="1" x="0" y="96" w="96" h="96" />
      <rect id="1" x="96" y="96" w="96" h="96" />
      <rect id="1" x="192" y="96" w="96" h="96" />
      <rect id="1" x="288" y="96" w="96" h="96" />
      <rect id="1" x="384" y="96" w="96" h="96" />
      <rect id="1" x="480" y="96" w="96" h="96" />
      <rect id="2" x="192" y="0" w="96" h="96" />
      <rect id="3" x="192" y="192" w="96" h="96" />
      <rect id="3" x="288" y="192" w="96" h="96" />
    </animation>
  </player>
  
  <map>
    <folder>maps/</folder>
  </map>

</config>